


.avatar{
 width: 100%;
 /* height: 50px; */
}
.personInformation{
  /* background-color: aqua; */
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information div{
 margin: 5px;
 
}
