.me{
  width: 50%;
  border-radius: 20px;
  background-color: rgba(0,0,0,.2);
  margin: 5px;
  padding: 5px;
  
}
.you{
  margin: 5px;
  padding: 5px;
  background-color: rgba(0,0,0,.2);
  margin-left:auto;
  width: 50%;
  border-radius: 20px;
}
.textAreaAndBtn{
  display: grid;
  grid-template-columns: 8fr 1fr;
}