.item{
  margin: 15px;
  background-color: antiquewhite;
  border: black 1px solid;
  border-radius: 35px;
  padding: 5px;
  text-align: center;
 
  }
  .item a{
    color: black;
    text-decoration: none;
  }
  .avatar{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    
  }